In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
3*6

18

In [5]:
1/2

0.5

In [6]:
2**4

16

In [7]:
2+3*5+5

22

In [8]:
(2+3)*(5+5)

50

In [9]:
4%2

0

In [10]:
5%2

1

In [11]:
var = 2

In [12]:
var

2

In [13]:
x = 2
y = 3

In [14]:
x+y

5

In [15]:
x = x*x

In [16]:
x

4

In [17]:
x = x+x

In [18]:
x

8

In [19]:
name_of_var = 12

In [20]:
# String

In [21]:
'ameya'

'ameya'

In [22]:
"ameya"

'ameya'

In [23]:
"'SLayyerrrr'"

"'SLayyerrrr'"

In [24]:
x = 'Hello'

In [25]:
x

'Hello'

In [26]:
print(x)

Hello

In [28]:
num = 12
name = "Sam"
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is Sam

In [29]:
print('My number is {one} and my name is {two}'.format(one=num, two=name))

My number is 12 and my name is Sam

In [30]:
# Indexing Strings

In [34]:
s = 'abcdefghijk'

In [35]:
s[0]

'a'

In [36]:
s[4]

'e'

In [37]:
s[0:]

'abcdefghijk'

In [38]:
s[0:3]

'abc'

In [39]:
# List

In [40]:
[1,2,3]

[1, 2, 3]

In [41]:
my_list = ['a','b','c','d']

In [42]:
my_list

['a', 'b', 'c', 'd']

In [43]:
my_list.append('e')

In [44]:
my_list

['a', 'b', 'c', 'd', 'e']

In [45]:
my_list[0] = 'new'

In [46]:
my_list

['new', 'b', 'c', 'd', 'e']

In [47]:
nest = [1,2,[3,4]]

In [48]:
nest

[1, 2, [3, 4]]

In [49]:
nest[2]

[3, 4]

In [50]:
nest[2][1]

4

In [51]:
nest = [1,2,3,[4,5,['target']]]

In [54]:
nest[3][2][0]

'target'

In [55]:
# Dictionary

In [56]:
d = {'key1':'value','key2':123}

In [57]:
d['key1']

'value'

In [58]:
d['key2']

123

In [59]:
d = {'k1':[1,2,3]}
d['k1']

[1, 2, 3]

In [60]:
d['k1'][1]

2

In [61]:
d = {'k1':{'innerkey':[1,2,3]}}

In [63]:
d['k1']['innerkey'][1]

2

In [64]:
True

True

In [65]:
False

False

In [66]:
# Tuples and sets
# use () whereas list use []

In [67]:
t = (1,2,3)

In [68]:
t

(1, 2, 3)

In [69]:
# Tuples are immutable means that you cannot change what is inside the tuple

In [70]:
{1,2,3}

{1, 2, 3}

In [71]:
{1,1,1,1,2,2,2,2,3,3,3,3,4}

{1, 2, 3, 4}

In [72]:
set([1,1,1,1,2,2,2,2,3,3,3,3,5,5,5,6])

{1, 2, 3, 5, 6}

In [73]:
s = {1,2,3}

In [74]:
s.add(5)

In [75]:
s

{1, 2, 3, 5}

In [76]:
1>2

False

In [77]:
1<2

True

In [78]:
(1<2) and (2>3)

False

In [79]:
(1<2) or (2>3)

True

In [80]:
# Codeblocks and statements

In [81]:
if 1<2:
    print('yo')

yo

In [82]:
if True:
    x = 2+2

In [83]:
x

4

In [86]:
if 1 == 2:
    print ('First')
elif 3==3:
    print ('middle')
else:
    print('last')

middle

In [1]:
seq = [1,2,3,4,5]

In [2]:
for item in seq:
    print(item)

1
2
3
4
5

In [3]:
i= 1

while i<5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [4]:
for x in seq:
    print(x)

1
2
3
4
5

In [5]:
range(0,5)

range(0, 5)

In [6]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [9]:
x = [1,2,3,4]

In [10]:
out = []
for num in x:
    out.append(num**2)

In [11]:
x

[1, 2, 3, 4]

In [12]:
print(out)

[1, 4, 9, 16]

In [13]:
# Functions

In [19]:
def my_func(name):
    print('Hello '+name)

In [20]:
my_func('ameya')

Hello ameya

In [24]:
def square(num):
    """
    documentation strings
    can be added in function
    
    """
    return num**2

In [25]:
output = square(2)

In [26]:
output

4

In [27]:
def times2(var):
    return var*2

In [28]:
times2(5)

10

In [29]:
# Map function

seq = [1,2,3,4,5]

In [33]:
list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15]

In [35]:
list(filter(lambda num: num%2 ==0, seq))

[2, 4]

In [36]:
s = 'hello my name is ameya'

In [38]:
s.upper()

'HELLO MY NAME IS AMEYA'

In [39]:
s.split()

['hello', 'my', 'name', 'is', 'ameya']

In [40]:
d = {'k1':1, 'k2':2}

In [41]:
d.keys()

dict_keys(['k1', 'k2'])

In [42]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [43]:
d.values()

dict_values([1, 2])

In [44]:
'x' in [1,2,3]

False

In [45]:
'x' in ['x','y','z']

True

In [46]:
x = [(1,2),(3,4)]

In [47]:
for item in x:
    print(item)

(1, 2)
(3, 4)

In [48]:
for (a,b) in x:
    print(a)

1
3